.aboutUs {
    color: #191970;
    text-shadow: 8px -8px 4px grey;
    font-size: 20px;
}

.about {
    display: flex;
    justify-content: space-around;
    color: #191970;
    text-shadow: 8px -8px 4px grey;
    font-size: 20px;
}

h5 {
    font-size: 24px;
}

.info {
    width: 45%;
}

.about-text {
    text-align: left;
    line-height: 1.6;
}

li {
    margin-bottom: 20px;
}

.aboutImage {
    width: 100%;
    margin: 5% 0 0;
    border-radius: 10px;
}